In [1]:
import pandas as pd
cafe = pd.read_csv("cafe.csv")
exportaciones = cafe.groupby(['PaisDestino','Anio']).sum().sort_values(by=['VolumenToneladas'],ascending=False)
final = exportaciones[['ValorMilesFOBDol','ValorMilesPesos','VolumenToneladas']]
print(final)
final.to_csv("cafeAgrupadoFinal.csv", encoding='utf8')

                     ValorMilesFOBDol  ValorMilesPesos  VolumenToneladas
PaisDestino    Anio
Estados Unidos 2017        1210398.64     3.571003e+09         323823.81
               2016        1092818.62     3.333148e+09         310901.51
               2015        1151949.18     3.168272e+09         301876.46
               2018         912258.57     2.655861e+09         269273.70
               2014        1109365.09     2.230233e+09         265568.42
...                               ...              ...               ...
Albania        2010              0.03     6.008000e+01              0.02
Nepal          2007              0.03     5.787000e+01              0.01
Costa Rica     2006              0.00     7.850000e+00              0.00
Brasil         2006              0.01     2.260000e+01              0.00
Malta          2010              0.00     1.442000e+01              0.00

[1220 rows x 3 columns]

In [2]:
final

                     ValorMilesFOBDol  ValorMilesPesos  VolumenToneladas
PaisDestino    Anio
Estados Unidos 2017        1210398.64     3.571003e+09         323823.81
               2016        1092818.62     3.333148e+09         310901.51
               2015        1151949.18     3.168272e+09         301876.46
               2018         912258.57     2.655861e+09         269273.70
               2014        1109365.09     2.230233e+09         265568.42
...                               ...              ...               ...
Albania        2010              0.03     6.008000e+01              0.02
Nepal          2007              0.03     5.787000e+01              0.01
Costa Rica     2006              0.00     7.850000e+00              0.00
Brasil         2006              0.01     2.260000e+01              0.00
Malta          2010              0.00     1.442000e+01              0.00

[1220 rows x 3 columns]

In [4]:
coffee_exports = pd.read_csv('coffee_exports.csv')

In [5]:
coffee_exports

,PaisDestino,Anio,ValorMilesFOBDol,ValorMilesPesos,VolumenToneladas
0,Estados Unidos,2017,1210398.64,3.571003e+09,323823.81
1,Estados Unidos,2016,1092818.62,3.333148e+09,310901.51
2,Estados Unidos,2015,1151949.18,3.168272e+09,301876.46
3,Estados Unidos,2018,912258.57,2.655861e+09,269273.70
4,Estados Unidos,2014,1109365.09,2.230233e+09,265568.42
...,...,...,...,...,...
1215,Albania,2010,0.03,6.008000e+01,0.02
1216,Nepal,2007,0.03,5.787000e+01,0.01
1217,Costa Rica,2006,0.00,7.850000e+00,0.00
1218,Brasil,2006,0.01,2.260000e+01,0.00
1219,Malta,2010,0.00,1.442000e+01,0.00

In [6]:
coffee_exports['Anio'].unique()

array([2017, 2016, 2015, 2018, 2014, 2013, 2007, 2006, 2008, 2011, 2009,
       2010, 2012])

In [7]:
marks={str(year): str(year) for year in coffee_exports['Anio'].unique()}

In [8]:
marks

{'2017': '2017',
 '2016': '2016',
 '2015': '2015',
 '2018': '2018',
 '2014': '2014',
 '2013': '2013',
 '2007': '2007',
 '2006': '2006',
 '2008': '2008',
 '2011': '2011',
 '2009': '2009',
 '2010': '2010',
 '2012': '2012'}

In [10]:
type(coffee_exports['Anio'].min())

numpy.int64